
.products{
  display: flex;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  padding-top: 100px;
}
.navbar{
  margin-top: -25px;
  z-index: 1;
}
.p-img{
  height: 450px;
  width: 350px;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid rgba(128, 128, 128, 0.101);
}
.title-name{
  font-size: 25px;
color: rgb(41, 38, 38);
}
.rating-text{
  color: white;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  width: 45px;
  padding: 0px 5px;
}
.reviews{
  position: absolute;
  margin: -40px 0 0px 50px;
 color: gray;
 font-weight: 600;
}
.fa-star{
  position: absolute;
  font-size: 10px;
  margin: 5.5px 0px 0px 5px;
}
.offr{
  font-size: 25px;
  font-weight: 500;
}
.orgP{
  font-size: 18px;
  margin-left: 10px;
  color: gray;
  text-decoration: line-through;
}

.alert{
  right: 20px;
  position: fixed;
  color: rgb(41, 36, 36);
  font-weight: 500;
  top: 90px;
  display: none;
  z-index: 1;
  animation: slideaway .3s;
  background-color: #95c095dc;

}
@keyframes slideaway {
  
  from{transform: scale(.90); opacity: 1;}
  to {transform: scale(1); opacity: 1;}
}


strong{
  font-weight: 900;
  color: rgb(12, 113, 5);
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: 800;
  float: right;
  font-size: 26px;
  line-height: 20px;
  cursor: pointer;
}
.closebtn:hover{
  color: rgb(207, 10, 10);
}
.search{
  position: relative;
  float: left;
  width: 250px;
  margin-right: 5px;
}

/* ===============================
       Percentage.css
=============================== */

.off{
  margin: 20px 0px -3px 0px;
  font-weight: 600;
}
.per{
  position: absolute;
  margin-top: 29.8px;
  margin-left: 66px;
}
.fa-circle-info{
  margin-left: 6px;
  color: gray;
}

/* ===============================
       Percentage.css
=============================== */
.ul{
  margin-left: -30px;
  list-style: none;
}
.avail-off{
  font-size: 20px;
  font-weight: 600;
}
.bankP{
  font-weight: 500;
}
.logo{
  height: 50px;
  width: 170px;
}
